@charset "UTF-8";

@font-face {
  font-family: "DroidSerif";
  font-display: swap;
  src: url("../fonts/droid-serif-italic.woff") format("woff"), url("../fonts/droid-serif-italic.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Bold.woff") format("woff"), url("../fonts/Montserrat-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "RobotoSlab";
  font-display: swap;
  src: url("../fonts/RobotoSlab-Regular.woff") format("woff"), url("../fonts/RobotoSlab-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

/*Обнуление*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/

html,
body {
  font-family: "Montserrat",sans-serif;
}

.content {
  font-size: 14px;
  color: #777777;
}

.container {
  width: 100%;
  max-width: 970px;
  padding: 0 15px;
  margin: 0 auto;
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
}

.header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
}

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 40px 0;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__link {
  opacity: 0.75;
  color: #ffffff;
  text-transform: uppercase;
  margin: 0 0 0 40px;
  -webkit-transition: opacity 0.1s linear;
  -o-transition: opacity 0.1s linear;
  transition: opacity 0.1s linear;
}

.menu__link:hover {
  opacity: 1;
}

.menu__link:first-child {
  margin: 0;
}

.intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  height: 730px;
  padding: 100px 0 0 0;
  background: #363638 url("../img/bg.jpg") center/cover no-repeat;
}

.intro__title {
  color: #ffffff;
  font-family: "DroidSerif";
  font-size: 40px;
  margin: 0 0 50px 0;
}

.intro__title span {
  letter-spacing: -1px;
}

.intro__subtitle {
  color: #ffffff;
  font-size: 75px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 0 60px 0;
}

.intro__subtitle span {
  letter-spacing: -1.88px;
}

.btn {
  display: inline-block;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  width: 240px;
  height: 65px;
  line-height: 65px;
  background-color: #fed136;
  border-radius: 2px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.btn:hover {
  background-color: #e7b500;
}

.services {
  padding: 120px 0;
}

.services__top {
  text-align: center;
  margin: 0 0 80px 0;
}

.services__title {
  margin: 0 0 20px 0;
}

.services__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -15px;
}

.services__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.333%;
          flex: 0 0 33.333%;
  padding: 0 15px;
}

.title {
  color: #222222;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
}

.subtitle {
  color: #777777;
  font-family: "DroidSerif";
  font-size: 16px;
}

.item-services__icon {
  margin: 0 auto 25px auto;
  border-radius: 50%;
  width: 68px;
  height: 67px;
  border: 3px solid #fed136;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.item-services__label {
  margin: 0 0 15px 0;
}

.label {
  color: #222222;
  font-size: 18px;
  font-weight: 700;
}

.text {
  color: #777777;
  font-family: "RobotoSlab";
  font-size: 14px;
  line-height: 1.5;
}

.portfolio {
  background-color: #f7f7f7;
  padding: 120px 0 70px 0;
}

.portfolio__top {
  margin: 0 0 60px 0;
  text-align: center;
  padding: 0 15px;
}

.portfolio__title {
  margin: 0 0 20px 0;
}

.portfolio__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -8px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.portfolio__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.333%;
          flex: 0 0 33.333%;
  padding: 0 8px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.item-portfolio {
  background: #fff;
  margin: 0 0 50px 0;
}

.item-portfolio__image {
  display: inline-block;
  margin: 0 0 30px 0;
}

.item-portfolio__label {
  margin: 0 0 5px 0;
  text-align: center;
}

.item-portfolio__text {
  margin: 0 0 25px 0;
  text-align: center;
}

.about {
  padding: 120px 0;
  overflow: hidden;
}

.about__body {
  max-width: 873px;
  margin: 0 auto;
}

.about__top {
  text-align: center;
  margin: 0 0 85px 0;
  padding: 0 15px;
}

.about__title {
  margin: 0 0 20px 0;
}

.about__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -11.25px;
  padding: 0 15px;
}

.about__item_rev {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.about__item:nth-child(even) {
  text-align: right;
}

.about__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.333%;
          flex: 0 0 33.333%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 11.25px;
}

.about__label {
  line-height: 1.5;
  margin: 0 0 9px 0;
}

.about__image {
  overflow: hidden;
}

.about__img {
  border-radius: 50%;
  border: 7px solid #f1f1f1;
  margin: 0 0 107px 0;
  position: relative;
}

.about__img::after {
  content: '';
  display: block;
  position: absolute;
  top: 100%;
  left: 50%;
  width: 3px;
  height: 100vmin;
  background-color: #f1f1f1;
}

.about__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about__btn {
  position: relative;
  z-index: 1;
  display: inline-block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  border-radius: 50%;
  width: 168px;
  height: 168px;
  border: 7px solid #f1f1f1;
  background-color: #fed136;
  text-shadow: 0 1px 1px #e7b500;
  color: #ffffff;
  font-size: 18px;
  line-height: 1.3;
  font-weight: 700;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.about__btn:hover {
  background-color: #f1c629;
}

.team {
  background-color: #f9f9f9;
  padding: 120px 0;
}

.team__body {
  max-width: 780px;
  margin: 0 auto;
}

.team__top {
  text-align: center;
  margin: 0 0 80px 0;
  padding: 0 15px;
}

.team__title {
  margin: 0 0 25px 0;
}

.team__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 0 50px 0;
}

.team__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
}

.team__image {
  display: block;
  margin: 0 0 25px 0;
}

.team__info {
  text-align: center;
  margin: 0 0 15px 0;
}

.team__label {
  margin: 0 0 5px 0;
  font-size: 16px;
}

.team__text {
  font-size: 14px;
  padding: 0 30px;
}

.team__text_b {
  font-size: 16px;
}

.team__bottom {
  text-align: center;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 10px 0 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 3px solid #000;
  background: transparent;
  -webkit-transition: background 0.1s linear;
  -o-transition: background 0.1s linear;
  transition: background 0.1s linear;
}

.social__footer .social__item {
  background: #000;
  border: none;
}

.social__footer .social__item:hover {
  background: #fff;
  border: 3px solid #000;
}

.social__footer .social__item .social__icon {
  fill: #fff;
}

.social__footer .social__item .social__icon:hover {
  fill: #000;
}

.social__item:hover {
  background: #000;
}

.social__item:hover .social__icon {
  fill: #fff;
}

.social__icon {
  display: block;
  height: 18px;
  -webkit-transition: fill 0.1s linear;
  -o-transition: fill 0.1s linear;
  transition: fill 0.1s linear;
}

.envato {
  padding: 60px 0;
}

.envato__body {
  max-width: 795px;
  margin: 0 auto;
  padding: 0 15px;
}

.envato__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.envato__image {
  margin: 0 40px 0 0;
}

.envato__image:last-child {
  margin: 0;
}

.contact {
  padding: 110px 0;
  background: #222222 url(../img/contact/map.png) right -850px bottom -140px no-repeat;
}

.contact__top {
  text-align: center;
  margin: 0 0 75px 0;
}

.contact__title {
  color: #ffffff;
  margin: 0 0 20px 0;
}

.contact__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -15px 30px -15px;
}

.contact__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding: 0 15px;
}

.contact__column_col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form__design {
  border: 1px solid #cccccc;
  background-color: #ffffff;
  border-radius: 2px;
  margin: 0 0 30px 0;
}

.form__design:last-child {
  margin: 0;
}

.form__style {
  padding: 20px;
  width: 100%;
  color: #000;
  font-size: 14px;
  -webkit-transition: all 0.1s linear 0s;
  -o-transition: all 0.1s linear 0s;
  transition: all 0.1s linear 0s;
}

.form__style:focus {
  -webkit-box-shadow: 0 0 5px 2px #cccccc;
          box-shadow: 0 0 5px 2px #cccccc;
}

.form__style::-webkit-input-placeholder {
  color: #bbbbbb;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

.form__style::-moz-placeholder {
  color: #bbbbbb;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

.form__style:-ms-input-placeholder {
  color: #bbbbbb;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

.form__style::-ms-input-placeholder {
  color: #bbbbbb;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

.form__style::placeholder {
  color: #bbbbbb;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

.form__style:focus::-webkit-input-placeholder {
  font-size: 0;
}

.form__style:focus::-moz-placeholder {
  font-size: 0;
}

.form__style:focus:-ms-input-placeholder {
  font-size: 0;
}

.form__style:focus::-ms-input-placeholder {
  font-size: 0;
}

.form__style:focus::placeholder {
  font-size: 0;
}

.form__message {
  width: 100%;
  height: 100%;
}

.form__message textarea {
  resize: none;
  width: 100%;
  height: 100%;
}

.form__btn {
  display: block;
  margin: 0 auto;
}

.footer {
  padding: 20px 0;
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 -15px;
}

.footer__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  padding: 0 15px;
}

.footer__copyright {
  color: #555555;
  font-size: 14px;
  font-weight: 700;
}

@media (max-width: 991px) {
  .intro {
    padding: 50px 0 0 0;
    height: 630px;
  }

  .intro__title {
    font-size: 35px;
    margin: 0 0 35px 0;
  }

  .intro__subtitle {
    font-size: 65px;
  }

  .services {
    padding: 80px 0;
  }

  .services__top {
    margin: 0 0 50px 0;
  }

  .portfolio {
    padding: 80px 0 50px 0;
  }

  .portfolio__top {
    margin: 0 0 40px 0;
  }

  .envato {
    padding: 35px 0;
  }
}

@media (max-width: 800px) {
  .header__logo {
    z-index: 2;
  }

  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: auto;
    background-color: #363638;
    padding: 40px 0 20px 0;
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .menu__body.active {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }

  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .menu__list a {
    padding: 0 0 45px 0;
  }

  .menu__list a:last-child {
    padding: 0;
  }

  .menu__link {
    margin: 0;
    color: #fff;
    font-size: 25px;
  }

  .icon-menu {
    display: block;
    position: absolute;
    top: 40px;
    right: 10px;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    top: 8px;
    position: absolute;
    width: 100%;
    height: 2px;
    background: #fff;
  }

  .icon-menu span:first-child {
    top: 0;
  }

  .icon-menu span:last-child {
    top: auto;
    bottom: 0;
  }

  .icon-menu.active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
    background-color: #fff;
  }

  .icon-menu.active span:first-child {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: 8px;
  }

  .icon-menu.active span:last-child {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: 8px;
  }

  .intro {
    padding: 25px 0 0 0;
    height: 610px;
  }

  .intro__title {
    font-size: 35px;
    margin: 0 0 30px 0;
  }

  .intro__subtitle {
    font-size: 55px;
  }

  .services {
    padding: 50px 0;
  }

  .services__top {
    margin: 0 0 35px 0;
  }

  .item-services__icon {
    margin: 0 auto 20px auto;
  }

  .portfolio {
    padding: 50px 0 30px 0;
  }

  .portfolio__top {
    margin: 0 0 30px 0;
  }

  .portfolio__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.333%;
            flex: 0 0 33.333%;
    padding: 0 8px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .portfolio__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 -8px;
  }

  .item-portfolio {
    margin: 0 0 30px 0;
  }

  .about {
    padding: 50px 0;
  }

  .about__top {
    margin: 0 0 85px 0;
  }

  .about__item {
    margin: 0 0 40px 0;
  }

  .about__item_rev {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }

  .about__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }

  .about__img {
    margin: 0;
  }

  .about__img::after {
    content: none;
  }

  .team {
    padding: 30px 0;
  }

  .team__top {
    margin: 0 0 20px 0;
  }

  .team__title {
    font-size: 36px;
    margin: 0 0 10px 0;
  }

  .team__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 0 20px 0;
  }

  .team__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    margin: 0 0 20px 0;
  }

  .team__column:last-child {
    margin: 0;
  }

  .envato__image {
    margin: 0 20px 0 0;
  }

  .envato a:last-child {
    margin: 0;
  }

  body.lock {
    overflow: hidden;
  }
}

@media (max-width: 767px) {
  .services__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0 -15px;
  }

  .services__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    padding: 0 15px;
    margin: 0 0 20px 0;
  }

  .envato__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .envato__image {
    margin: 0 0 20px 0;
  }

  .envato a:last-child {
    margin: 0;
  }

  .contact {
    padding: 30px 0;
    background: #222222 url(../img/contact/map.png) right -80rem bottom -20rem no-repeat;
  }

  .contact__top {
    margin: 0 0 20px 0;
  }

  .contact__title {
    font-size: 36px;
    margin: 0 0 10px 0;
  }

  .contact__row {
    margin: 0 -15px 10px -15px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .form__design {
    margin: 0 0 20px 0;
  }

  .form__design:last-child {
    margin: 0 0 20px 0;
  }

  .form__style {
    padding: 15px;
  }

  .form__message {
    width: 100%;
    height: 100px;
  }

  .form__message textarea {
    resize: none;
    width: 100%;
    height: 100px;
  }
}

@media (max-width: 560px) {
  .footer {
    text-align: center;
  }

  .footer__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .footer__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    margin: 0 0 15px 0;
  }

  .footer__column:last-child {
    margin: 0;
  }
}

@media (max-width: 480px) {
  .intro {
    padding: 25px 0 0 0;
    height: 550px;
  }

  .intro__title {
    font-size: 30px;
    margin: 0 0 20px 0;
  }

  .intro__subtitle {
    font-size: 45px;
    line-height: 1.3;
    margin: 0 0 20px 0;
  }

  .btn {
    width: 200px;
    height: 55px;
    line-height: 55px;
  }

  .services {
    padding: 30px 0;
  }

  .services__top {
    margin: 0 0 30px 0;
  }

  .services__title {
    font-size: 36px;
    margin: 0 0 10px 0;
  }

  .portfolio {
    padding: 40px 0 20px 0;
  }

  .portfolio__top {
    margin: 0 0 25px 0;
  }

  .portfolio__title {
    font-size: 36px;
    margin: 0 0 10px 0;
  }

  .about {
    padding: 30px 0;
  }

  .about__top {
    margin: 0 0 35px 0;
  }

  .about__title {
    margin: 0 0 15px 0;
  }

  .about__item {
    margin: 0 0 20px 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }

  .about__item_rev {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }

  .about__item:nth-child(even) {
    text-align: center;
  }

  .about__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    margin: 0 0 20px 0;
  }

  .about__column_orig {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .about__img {
    margin: 0;
  }

  .about__img::after {
    content: none;
  }
}

@media (max-width: 340px) {
  .portfolio {
    padding: 30px 0 15px 0;
  }

  .portfolio__top {
    margin: 0 0 15px 0;
  }

  .portfolio__title {
    font-size: 36px;
    margin: 0 0 10px 0;
  }

  .portfolio__column {
    padding: 0 100px;
  }

  .item-portfolio__image img {
    width: 260px;
  }
}
@supports (-webkit-appearance:none){
.intro{background:#363638 url("../img/bg.webp") center/cover no-repeat}
.contact{background:#222222 url(../img/contact/map.webp) right -850px bottom -140px no-repeat}
}

 @media (max-width: 991px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 800px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 767px){

@supports (-webkit-appearance:none){
.contact{background:#222222 url(../img/contact/map.webp) right -80rem bottom -20rem no-repeat}
}

}

 @media (max-width: 560px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 480px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 340px){

@supports (-webkit-appearance:none){

}

}
